@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

:root {
    height: 100vh;

    --background: #151b21;
    --text-color: #e0e0e0;

    --active-word-border: #696969;
    --square-active: #ad292900;
    --square-unused: #2b3037;
    --square-used: #151219;

    --key-color: var(--square-unused);

    --wrong: #ffff31a4;
    --right: #7ef04d7b;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    
    font-family: "Strait", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#main {
    bottom: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#keyboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}