@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

:root {
    --wrong: #ffff31a4;
    --right: #7ef04d7b;
}

.word {
    display: flex;
    flex-direction: row;    

    width: auto;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 1.5em;
    margin: .08em;
    
    background-color: #ececec18;
    border-radius: 15%;

    font-size: 2em;
}

#in {
    all: unset;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
}