.word {
    display: flex;
    flex-direction: row;    

    width: auto;
    margin: 0px 3em;
}

.letterSlot {
    display: grid;
    place-items: center;
    grid-template-rows: 20fr 1fr;
    

    aspect-ratio: 1/1;
    width: 1.6em;
    margin: .08em;
    
    
    background-color: var(--square-unused);
    border: 2px solid var(--square-unused);
    border-radius: 15%;

    font-size: 2em;
}

.usedWord > .letterSlot {
    background-color: var(--square-used);
}

.activeWord > .letterSlot {
    background-color: var(--square-active);
    border-color: var(--active-word-border);
}

.activeLetter::after {
    content: '';
    height: 100%;
    width: 100%;

    background-color: var(--active-word-border);
}

.letterSlot.wrongPlace {
    background-color: var(--wrong);
}
.letterSlot.right {
    background-color: var(--right);
}


#in {
    all: unset;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
}