:root {
    --wrong: #ffff31a4;
    --right: #7ef04d7b;
}

.word {
    display: flex;
    flex-direction: row;    

    width: auto;
    margin: 0px 3em;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 1.6em;
    margin: .08em;
    
    
    background-color: #3b3843;
    border: 2px solid #3b3843;
    border-radius: 15%;

    font-size: 2em;
}

.usedWord > .letter {
    background-color: #151219;
}

.activeWord > .letter {
    
    background-color: #ffffff00;
}

.letter.wrongPlace {
    background-color: var(--wrong);
}
.letter.right {
    background-color: var(--right);
}


#in {
    all: unset;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
}